
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static ' css/main.css' %}">
<link rel="stylesheet" type="text/css" href="css/main.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order # {{order.id}}</h3>
    		</div>
         <img src ="{% static 'images/img.jpg' %}">
    		<hr>

    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{{order.name}}<br>
    					{{order.phone_number}}<br>
    				</address>
    			</div>
          <hr>

    			<!-- <div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					Jane Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div> -->
    		</div>
    		<div class="row">
    			<!-- <div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Visa ending **** 4242<br>
    					jsmith@email.com
    				</address>
    			</div> -->
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					March 7, 2014<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Quantitiy  </strong></td>
        							<td class="text-center"><strong>price</strong></td>
                      <td class="text-center"><strong>discout</strong></td>

        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>{{type}}</td>
                    <td class="text-center">{{meters}}</td>

    								<td class="text-center">{{price}}</td>
                    <td class="text-center">{{discount}}</td>

    								<td class="text-right">{{total}}</td>
    							</tr>
                                <tr>
        							  {% if type2 != None %}<td>{{type2}}</td>{%endif%}
                        {% if meters2 != None %}<td class="text-center">{{meters2}}</td>{%endif%}

    							      {% if price2 != None %}	<td class="text-center">{{price2}} </td>{%endif%}
                      {% if discount2 != None %}<td class="text-center">{{discount2}}</td>{%endif%}

    								  {% if total2 != None %}<td class="text-right">{{total2}}</td>{%endif%}
    							</tr>
                </tr>
                              <tr>
                      {% if type3 != None %}<td>{{type3}}</td>{%endif%}
                      {% if meters3 != None %}<td class="text-center">{{meters3}}</td>{%endif%}

                      {% if price3 != None %}	<td class="text-center">{{price3}} </td>{%endif%}
                    {% if discount3 != None %}<td class="text-center">{{discount3}}</td>{%endif%}

                    {% if total3 != None %}<td class="text-right">{{total3}}</td>{%endif%}
                </tr>
              </tr>
                            <tr>
                    {% if type4 != None %}<td>{{type4}}</td>{%endif%}
                    {% if meters4 != None %}<td class="text-center">{{meters4}}</td>{%endif%}
                    {% if price4 != None %}	<td class="text-center">{{price4}} </td>{%endif%}
                  {% if discount4 != None %}<td class="text-center">{{discount4}}</td>{%endif%}

                  {% if total4 != None %}<td class="text-right">{{total4}}</td>{%endif%}
              </tr>
            </tr>
                          <tr>
                  {% if type5 != None %}<td>{{type5}}</td>{%endif%}
                  {% if meters5 != None %}<td class="text-center">{{meters5}}</td>{%endif%}
                  {% if price5 != None %}	<td class="text-center">{{price5}} </td>{%endif%}
                {% if discount5 != None %}<td class="text-center">{{discount5}}</td>{%endif%}
                {% if total5 != None %}<td class="text-right">{{total5}}</td>{%endif%}
            <!-- </tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">$670.99</td>
    							</tr> -->
    							<!-- <tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$15</td>
    							</tr> -->
                </br>
              </br>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
                  </br>
    								<td class="no-line text-center"><strong>Grand Total</strong></td>
    								<td class="no-line text-right">{{grand_total}}</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
