
{% load static %}
{% load staticfiles %}
<style >
  .invoice{
    color: Green;
    text-transform: uppercase;
    font-size: 100px;
  }
  .order  {
    text-align:right;
    font-size: 100px;
    padding-bottom: 10px;

  }

  /* .billed{ */
    /* text-align:right; */

    /* align-items: right; */
  /* } */
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  cell
}

td, th {
  text-align: center;
  /* padding-bottom: 10px; */
  /* border: 1px solid #dddddd; */
  /* font-size: 20px; */
   /* border: 1px solid black; */
  /* text-align: left; */
  /* padding: 8px; */
 }

/* tr:nth-child(even) { */
  /* background-color: #dddddd; */
/* } */
/* .title{ */
  /* text-align: center; */
  /* font-size: 30px; */
  /* font-family: Helvetica; */
  /* font-style: normal; */
/* } */
</style>
<link rel="stylesheet" type="text/css" href="{% static ' css/main.css' %}">
<link rel="stylesheet" type="text/css" href="css/main.css">


<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
          <h3 class="order">Order # {{order.id}}</h3>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
            <div class="billed">
              <strong>Billed To:</strong><br>
                {{order.name}}<br>
                {{order.phone_number}}<br>
            </div>
            <div class="col-xs-6">
                <strong>Order Date:</strong><br>
                <span class="secondary">
                  {{ order.date|date:"M d, Y" }}
                </span><br><br>
              </div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-6">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>

    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
              <div class="billed">
                <strong>Billed To:</strong><br>
                  {{order.name}}<br>
                  {{order.phone_number}}<br>
              </div>
              <div class="col-xs-3">
                  <strong>Order Date:</strong><br>
                  <span class="secondary">
                    {{ order.date|date:"M d, Y" }}
                  </span><br><br>
                </div>
    					<table class="table table-condensed">

                      <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Quantitiy  </strong></td>
        							<td class="text-center"><strong>price</strong></td>
                      <td class="text-center"><strong>total price</strong></td>
                        </tr>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>{{type}}</td>
                    <td class="text-center">{{meters}}</td>

    								<td class="text-center">{{price}}</td>
                    <td class="text-center">{{price_total}}</td>

    							</tr></br>
                                <tr>
        							  {% if type2 != None %}<td>{{type2}}</td>{%endif%}
                        {% if meters2 != None %}<td class="text-center">{{meters2}}</td>{%endif%}

    							      {% if price2 != None %}	<td class="text-center">{{price2}} </td>{%endif%}
                      {% if price2_total != None %}<td class="text-center">{{price2_total}}</td>{%endif%}

    							</tr>
                </tr>
                              <tr>
                      {% if type3 != None %}<td>{{type3}}</td>{%endif%}
                      {% if meters3 != None %}<td class="text-center">{{meters3}}</td>{%endif%}

                      {% if price3 != None %}	<td class="text-center">{{price3}} </td>{%endif%}
                    {% if price3_total != None %}<td class="text-center">{{price3_total}}</td>{%endif%}

                </tr>
              </tr>
                            <tr>
                    {% if type4 != None %}<td>{{type4}}</td>{%endif%}
                    {% if meters4 != None %}<td class="text-center">{{meters4}}</td>{%endif%}
                    {% if price4 != None %}	<td class="text-center">{{price4}} </td>{%endif%}
                  {% if price4_total != None %}<td class="text-center">{{price4_total}}</td>{%endif%}

              </tr>
            </tr>
                          <tr>
                  {% if type5 != None %}<td>{{type5}}</td>{%endif%}
                  {% if meters5 != None %}<td class="text-center">{{meters5}}</td>{%endif%}
                  {% if price5 != None %}	<td class="text-center">{{price5}} </td>{%endif%}
                {% if price5_total != None %}<td class="text-center">{{price5_total}}</td>{%endif%}
                </br>
              </br>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>

                  <td class="no-line text-center"><strong>discount</strong></td>
                  <td class="no-line text-right">{{discount}}</td>
                </tr>
      							<tr>
      								<td class="no-line"></td>
      								<td class="no-line"></td>

      								<td class="no-line text-center"><strong>Grand Total</strong></td>
      								<td class="no-line text-right">{{grand_total}}</td>
      							</tr>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
